<div class="container">
  <div class="row">
    <div class="column-menu">
      <div class="picture-box">
        <div class="inner">
          <img src="./assets/images/user.jpg"
               alt="my-image">
        </div>
      </div>
      <div class="menu-box" [attr.active]="activeMitem">
        <div class="zip-svg">
          <svg active-dot="1" viewBox="0 0 20 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="3" r="1.5" fill="#000000"/>
            <circle cx="10" cy="10" r="1.5" fill="#000000"/>
            <circle cx="10" cy="17" r="1.5" fill="#000000"/>
            <circle cx="10" cy="24" r="1.5" fill="#000000"/>
            <rect x="9.7" y="3" width=".6" height="22" fill="#000000" />
          </svg>
        </div>

<!--        <div class="zip"></div>-->
        <div class="section-headlines">
          <div class="section-headline" (click)="onClickMitem(0)" ><span>Info</span></div>
          <div class="section-headline" (click)="onClickMitem(1)" ><span>Skills</span></div>
          <div class="section-headline" (click)="onClickMitem(2)" ><span>I've used</span></div>
          <div class="section-headline" (click)="onClickMitem(3)" ><span>Experience</span></div>
<!--          <div class="mitem" (click)="onClickMitem(0)">-->
<!--          <div class="mitem" (click)="onClickMitem(0)">-->
<!--            <div class="knot"></div>-->
<!--            <span>Info</span>-->
<!--          </div>-->
<!--          <div class="mitem" (click)="onClickMitem(1)">-->
<!--            <div class="knot"></div>-->
<!--            <span>Skills</span>-->
<!--          </div>-->
<!--          <div class="mitem" (click)="onClickMitem(2)">-->
<!--            <div class="knot"></div>-->
<!--            <span>I've used</span>-->
<!--          </div>-->
<!--          <div class="mitem" (click)="onClickMitem(3)">-->
<!--            <div class="knot"></div>-->
<!--            <span>Experience</span>-->
<!--          </div>-->
        </div>
      </div>
    </div>
    <div class="column-page">
      <ng-scrollbar [autoHeightDisabled]="false">
        <div class="section info" #section>
          <div class="badge">
            <div class="name-first">
              <span class="i1">Mücahit</span>
              <span class="i2">Çoban</span>
            </div>
            <div class="name-second">
              Full-stack Developer
            </div>
            <div class="desc">
              Hi, I'm Mücahit. I am a self-taught, 4 years experienced full-stack developer.
              I see myself between mid-level and senior level. I live in İzmir, Turkey, born in 1991.
              I speak English fluently.
              I can build a restful api, a cms panel and  a front-end project from begining to end and
              integrate them all, using angular, react, node and express, mongodb, php, mysql.
              Or I can do bugfixing and development of existing projects like this.
              Please contact me using my e-mail or phone.
              You may also choose to chat with me, clicking the chat sign at bottom-right of this page.
            </div>
          </div>
          <div class="inner">
            <a class="sitem email" href="mailto:webdeveloper.mucahitcoban@gmail.com">
              <img src="./assets/images/email.svg" alt="email">
              <label>E-mail:</label>
              <span>webdeveloper.mucahitcoban@gmail.com</span>
            </a>
            <a class="sitem" href="tel:00">
              <img class="phone" src="./assets/images/phone.svg" alt="phone">
              <label>Phone:</label>
              <span>+90 *** *** ** 81</span>
            </a>
            <div class="wfull"></div>
            <a class="sitem" target="_blank" href="https://www.linkedin.com/in/front-end-developer-mucahit-coban/">
              <img class="linkedin" src="./assets/images/linkedin.svg" alt="linkedin">
              <label>Linkedin:</label>
              <span>linkedin.com</span>
            </a>
            <a class="sitem" target="_blank" href="https://github.com/mucoban">
              <img class="github" src="./assets/images/github.svg" alt="github">
              <label>Github:</label>
              <span>github.com/mucoban</span>
            </a>
            <div class="wfull"></div>
            <a class="sitem" target="_blank" href="https://mucoban.github.io/portfolio">
              <img class="cv" src="./assets/images/cv.svg" alt="cv">
              <label>Website:</label>
              <span>mucoban.github.io/portfolio</span>
            </a>
          </div>
        </div>

        <div class="section skills" #section>
          <div class="inner">
            <div class="headline">Skills</div>

            <div class="sitem-wrapper" [ngClass]="{ 'break': mitem?.break }" *ngFor="let mitem of [
              { title: 'Angular', percentage: '2 years', icon: './assets/images/angular.svg' },
              { title: 'Html, scss', percentage: '4 years', icon: './assets/images/html.svg', icon2: './assets/images/scss.svg' },
              { break: true },
              { title: 'Javascript, Jquery', percentage: '4 years', icon: './assets/images/jquery.svg' },
              { title: 'Php', percentage: '4 years', icon: './assets/images/php.svg'},
              { break: true },
              { title: 'Codeigniter', percentage: '4 years', icon: './assets/images/codeigniter.svg' },
              { title: 'Mysql', percentage: '4 years', icon: './assets/images/mysql.svg' },
              { break: true },
              { title: 'MongoDb',  percentage: '6 months', icon: './assets/images/mongodb.svg' },
              { title: 'React',  percentage: '6 months', icon: './assets/images/react.svg' },
              { break: true },
              { title: 'Node, Express',  percentage: '6 months', icon: './assets/images/node.svg' },
              { title: 'Git', percentage: '4 years', icon: './assets/images/git.svg' },
            ]">
              <a class="sitem p{{ mitem?.percentage }}" *ngIf="!mitem?.break">
                  <img *ngIf="mitem.icon" src="{{ mitem.icon }}" alt="">
                  <img *ngIf="mitem.icon2" src="{{ mitem.icon2 }}" alt="">
                  <span class="bar"></span>
                  <span class="content">
                      <label>{{ mitem?.title }}</label>
                      <span>{{ mitem?.percentage }}</span>
                  </span>
              </a>
              <div></div>
            </div>

          </div>
        </div>

        <div class="section used" #section>
          <div class="inner">
            <div class="headline">I have used so far</div>
            <a class="sitem"  title="{{ mitem.title }}" *ngFor="let mitem of [
              { title: 'Mac', icon: './assets/images/apple.svg' },
              { title: 'Linux', icon: './assets/images/linux.svg' },
              { title: 'Windows', icon: './assets/images/windows.svg' },
              { title: 'Apache', icon: './assets/images/apache.svg' },
              { title: 'Putty', icon: './assets/images/putty.svg' },
              { title: 'Github', icon: './assets/images/github-2.svg' },
              { title: 'Bitbucket', icon: './assets/images/bitbucket.svg' },
              { title: 'Slack', icon: './assets/images/slack.svg' },
              { title: 'Trello', icon: './assets/images/trello.svg' },
              { title: 'Jira', icon: './assets/images/jira.svg' },
              { title: 'Photoshop', icon: './assets/images/photoshop.svg' },
              { title: 'Adobe XD', icon: './assets/images/adobe-xd.svg' },
            ]">
              <img *ngIf="mitem.icon" src="{{ mitem.icon }}">
              <br>
              <span>{{ mitem.title }}</span>
            </a>
          </div>
        </div>

        <div class="section expreience" #section>
          <div class="inner">
            <div class="headline">Experience</div>
            <div class="sitem-wrapper" *ngFor="let mitem of [
              { title1: 'SOFTMAYA', title2: 'Full-Stack Developer, 8 Months and Going On', title3: '2022',
                description: 'I am one of the three persons in a full-stack developer team who provide development and maintenance of ' +
                 'gambling sites <a href=\'https://rocknreels.com\' target=\'_blank\'>rocknreels.com</a> and <a href=\'https://stakebillion.com\' target=\'_blank\'>stakebillion.com</a> on both front-end and back-end sides. We use angular for front-end and node, express,' +
                  ' mysql for back-end side.'
              },
              { title1: 'EMAKINA, WITTY COMMERCE', title2: 'Front-End Developer, 6 Months', title3: '2022',
                description: 'I was a member of a front-end team which developed in a dev/ops system to e-commerce site <a href=\'https://lego.com\' target=\'_blank\'>lego.com</a> and others. I used angular, spartacus, jira at this job.'
              },
              { title1: 'PIKTUS, WITTY COMMERCE', title2: 'Full-Stack Developer, 22 Months', title3: '2020',
                description: 'I was the only developer in the company who developed websites and cms panels from adobe xd designs that were given to me. I worked as a full-stack developer. I used angular, jquery, php, codeigniter, wordpress, scss, mysql, depending on the project I worked on. Some of the websites I developed are <a href=\'https://hangardan.com\' target=\'_blank\'>hangardan.com</a> and <a href=\'https://creavit.com.tr\' target=\'_blank\'>creavit.com.tr</a>'
              },
              { title1: 'FREELANCER', title2: 'Full-Stack Developer, 12 Months', title3: '2019',
                description: 'I worked as a freelance developer. I used wordpress, php, codeigniter, mysql to develop projects for my clients.'
              },
              { title1: 'ELİZ', title2: 'Full-Stack Developer, 6 Months', title3: '2018',
                description: 'I worked as a full-stack developer. I developed websites and cms panels from photoshop designs using php, codeigniter and mysql.'
              },
              { title1: 'MGA', title2: 'Full-Stack Developer, 6 Months', title3: '2018',
                description: 'I worked as a full-stack developer. I developed websites and cms panels from photoshop designs using php, codeigniter and mysql.'
              },
            ]">
              <div class="sitem">
                <div class="title1">{{ mitem.title1 }}</div>
                <div class="title2">{{ mitem.title2 }}</div>
                <div class="title3">{{ mitem.title3 }}</div>
                <div class="description" [innerHTML]="mitem.description"></div>
              </div>
            </div>
          </div>
        </div>

      </ng-scrollbar>

    </div>
  </div>
</div>

