<div class="container">
  <div class="row">
    <div class="column-menu">
      <div class="picture-box">
        <div class="inner">
          <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?w=1060&t=st=1666707795~exp=1666708395~hmac=4ae29023f6f3ae839335041cb095782d56861ff118ccd7a38b311fa9e2f0e105"
               alt="my-image">
        </div>
      </div>
      <div class="menu-box" [attr.active]="activeMitem">
        <div class="zip"></div>
        <div class="content">
          <div class="mitem" (click)="onClickMitem(0)">
            <div class="knot"></div>
            <span>Info</span>
          </div>
          <div class="mitem" (click)="onClickMitem(1)">
            <div class="knot"></div>
            <span>Skills</span>
          </div>
          <div class="mitem" (click)="onClickMitem(2)">
            <div class="knot"></div>
            <span>I've used</span>
          </div>
          <div class="mitem" (click)="onClickMitem(3)">
            <div class="knot"></div>
            <span>Experience</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column-page">
      <ng-scrollbar [autoHeightDisabled]="false">
        <div class="section info" #section>
          <div class="badge">
            <div class="name-first">
              <span class="i1">Mücahit</span>
              <span class="i2">Çoban</span>
            </div>
            <div class="name-second">
              Full-stack Developer
            </div>
          </div>
          <div class="inner">
            <a class="sitem" href="mailto:a">
              <img src="./assets/images/email.svg" alt="email">
              <label>E-mail:</label>
              <span>webdeveloper.mucahitcoban@gmail.com</span>
            </a>
            <a class="sitem" href="tel:00">
              <img class="phone" src="./assets/images/phone.svg" alt="phone">
              <label>Phone:</label>
              <span>+90 *** *** ** 81</span>
            </a>
            <div class="wfull"></div>
            <a class="sitem" href="tel:00">
              <img class="linkedin" src="./assets/images/linkedin.svg" alt="linkedin">
              <label>Linkedin:</label>
              <span>linkedin.com</span>
            </a>
            <a class="sitem" href="tel:00">
              <img class="github" src="./assets/images/github.svg" alt="github">
              <label>Github:</label>
              <span>github.com/mucoban</span>
            </a>
            <div class="wfull"></div>
            <a class="sitem" target="_blank" href="https://mucoban.github.io/portfolio">
              <img class="cv" src="./assets/images/cv.svg" alt="cv">
              <label>Website:</label>
              <span>mucoban.github.io/portfolio</span>
            </a>
          </div>
        </div>

        <div class="section skills" #section>
          <div class="inner">
            <div class="headline">Skills</div>

            <div class="sitem-wrapper" [ngClass]="{ 'break': mitem?.break }" *ngFor="let mitem of [
              { title: 'Html, scss', percentage: '95' },
              { title: 'Javascript, Jquery', percentage: '95' },
              { title: 'Angular', percentage: '90' },
              { break: true },
              { title: 'Codeigniter', percentage: '90' },
              { title: 'Mysql', percentage: '90' },
              { title: 'Php', percentage: '80' },
              { title: 'Git', percentage: '80' },
              { break: true },
              { title: 'React', percentage: '50' },
              { title: 'Node, Express', percentage: '50' },
              { title: 'MongoDb', percentage: '50' },
            ]">
              <a class="sitem p{{ mitem?.percentage }}" *ngIf="!mitem?.break">
                <span class="bar"></span>
                <span class="content">
                <label>{{ mitem?.title }}</label>
              <span>{{ mitem?.percentage }}%</span>
              </span>
              </a>
              <div></div>
            </div>

          </div>
        </div>

        <div class="section used" #section>
          <div class="inner">
            <div class="headline">I have used</div>
            <a class="sitem" *ngFor="let mitem of [
              { title: 'Linux, Mac, Window' },
              { title: 'Apache Web Server' },
              { title: 'Putty' },
              { title: 'Github' },
              { title: 'Bitbucket' },
              { title: 'Slack' },
              { title: 'Trello' },
              { title: 'Jira' },
              { title: 'Photoshop' },
              { title: 'Adobe xd' },
            ]">
              <span>{{ mitem.title }}</span>
            </a>
          </div>
        </div>

        <div class="section expreience" #section>
          <div class="inner">
            <div class="headline">Experience</div>
            <div class="sitem-wrapper" *ngFor="let mitem of [
              { title1: 'EMAKINA, WITTY COMMERCE', title2: 'Front-End Developer, 6 Months', title3: '2022' },
              { title1: 'PIKTUS, WITTY COMMERCE', title2: 'Full-Stack Developer, 22 Months', title3: '2020' },
              { title1: 'FREELANCER', title2: 'Full-Stack Developer, 12 Months', title3: '2019' },
              { title1: 'ELİZ', title2: 'Full-Stack Developer, 6 Months', title3: '2018' },
              { title1: 'MGA', title2: 'Full-Stack Developer, 6 Months', title3: '2018' },
            ]">
              <div class="sitem">
                <div class="title1">{{ mitem.title1 }}</div>
                <div class="title2">{{ mitem.title2 }}</div>
                <div class="title3">{{ mitem.title3 }}</div>
              </div>
            </div>
          </div>
        </div>

      </ng-scrollbar>

    </div>
  </div>
</div>

