* {
  cursor: none !important;
}

.cursor-ball {
  position: absolute;
  z-index: 100;
  pointer-events: none;

  & svg {
    &:last-child {
      display: none;
      path {
      }
    }
  }

  &.hover-link {
    & svg {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: initial;
      }
    }
  }
}

.cursor-outline {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  transition: all 0.3s ease-out;

  border-radius: 50%;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transform: translate(20px, 10px);

  &.animating {
    // animation-name: ballAni;
  }
}

@keyframes ballAni {
  from {
    transform: translate(20px, 10px) scale(1.5);
  }
  to {
    transform: translate(20px, 10px) scale(1);
  }
}
